<app-page-header [backgroundClass]="backgroundClass"
[backgroundStyle]="backgroundStyle" [title]="title"></app-page-header>

<div class="container">
    <div class="row text-center mt-3">
        <div class="col">
            <span class="font-weight-bolder">Filter by:</span>
            <a class="mx-2" [ngClass]="(currentFilter == 'all') ? 'font-weight-bold' : 'text-muted'" (click)="resetGallery()">All</a>
            <a class="mx-2" [ngClass]="(currentFilter == 'residential') ? 'font-weight-bold' : 'text-muted'" (click)="filter('residential')">Residential</a>
            <a class="mx-2" [ngClass]="(currentFilter == 'commercial') ? 'font-weight-bold' : 'text-muted'" (click)="filter('commercial')">Commercial</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-4 my-3"
            *ngFor='let image of galleryImagesFilter | paginate: { itemsPerPage: 9, currentPage: currentPage }'>
            <app-gallery-item [imageUrl]='image.imageUrl' [title]='image.title' [description]='image.description'
                [category]='image.category'></app-gallery-item>
        </div>
    </div>
    <div class="text-center">
        <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
            

</div>