<app-page-header [background]="background" [title]="title"></app-page-header>
<div class="row">
    <div class="col" *ngFor='let image of galleryImagesFilter'>
    <app-gallery-item [imageUrl] = 'image.imageUrl' 
        [dimensionx] = 'image.dimensionx' 
        [dimensiony] = 'image.dimensiony'
        [title] = 'image.title'
        [description] = 'image.description'
        [category] = 'image.category'></app-gallery-item>
    </div>
</div>

<button class="btn btn-primary" (click)="filter('residential')">Residential</button>
<button class="btn btn-primary" (click)="filter('commercial')">Commercial</button>
<button class="btn btn-primary" (click)="resetGallery()">Reset</button>