<app-page-header [backgroundClass]="backgroundClass" [backgroundStyle]="backgroundStyle" [title]="title">
</app-page-header>

<div class="container my-4">
    <mdb-card>
        <mdb-card-body>
            <div class="row mb-4">
                <div class="col-lg-4">
                    <img src="{{firstImage}}" class="img-fluid card shadow">
                </div>
                <div class="col-lg-8">
                    <h1>Who are we?</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid debitis nihil placeat eum quis.
                        Inventore distinctio, facere doloribus laboriosam minus quam recusandae suscipit dolore
                        reprehenderit odio placeat, corporis labore dolores.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iusto nemo commodi enim
                        reiciendis id distinctio consectetur aperiam sapiente. Vel culpa aperiam error et velit eos
                        perspiciatis repellat obcaecati autem.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem cupiditate repellendus
                        nisi, ipsum recusandae amet aut eveniet saepe molestias ducimus, itaque vero! Praesentium ea
                        eligendi doloribus, tempore deleniti natus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis mollitia sed animi dolor
                        itaque quaerat, quia officiis nostrum, obcaecati accusantium, deleniti adipisci eos tenetur
                        harum inventore veniam minima quo.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="{{secondImage}}" class="img-fluid card shadow">
                </div>
                <div class="col-lg-8">
                    <h1>Our Commitment</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid debitis nihil placeat eum quis.
                        Inventore distinctio, facere doloribus laboriosam minus quam recusandae suscipit dolore
                        reprehenderit odio placeat, corporis labore dolores.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis iusto nemo commodi enim
                        reiciendis id distinctio consectetur aperiam sapiente. Vel culpa aperiam error et velit eos
                        perspiciatis repellat obcaecati autem.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem cupiditate repellendus
                        nisi, ipsum recusandae amet aut eveniet saepe molestias ducimus, itaque vero! Praesentium ea
                        eligendi doloribus, tempore deleniti natus.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis mollitia sed animi dolor
                        itaque quaerat, quia officiis nostrum, obcaecati accusantium, deleniti adipisci eos tenetur
                        harum inventore veniam minima quo.
                    </p>
                </div>
            </div>
        </mdb-card-body>
    </mdb-card>
</div>