<div class="jumbotron paral {{backgroundClass}} mt-1" [ngStyle]="backgroundStyle">
        <div class="container">
            <div class="row h-100 align-items-center text-center">
                <div class="col mx-auto h1 text-white">
                    {{title}}
                </div>
            </div>
            <span class="h1-responsive text-white"><b>{{leadText}}</b></span>
            <p>{{subtitle}}</p>
            <p class="lead">
                <button *ngIf="homeButton" mdbBtn class="btn btn-indigo btn-lg" routerLink="/about" role="button">Learn More</button>
            </p>
        </div>
</div>