<app-page-header 
    [background]="background"
    [homeButton]="jumbotronBtn"
    [leadText]="jumbtronLeadText"
    [subtitle]="jumbtronSubtitle"></app-page-header>
<div class="container-fluid">
    <div class="container">

        <!-- What we do Section -->
        <div class="row">
            <div class="col my-4">
                <mdb-card class="jumbotron">
                    <mdb-card-body>
                        <mdb-card-title class="card-title h1-responsive">
                            <strong>We do stuff outside</strong>
                        </mdb-card-title>
                        <mdb-card-text>
                            <p class="font-weight-bold general-secondary-color lead my-2">
                                We are able to fulfill all of your residential landscaping and lawn needs. We do this by being:
                            </p>
                            <ul class="card-text">
                                <li>Smart</li>
                                <li>Fun</li>
                                <li>Quick</li>
                            </ul>
                        </mdb-card-text>
                        <div class="d-flex justify-content-center">
                            <button routerLink="/services" class="btn btn-indigo">Our Services</button>
                        </div>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>


        <!-- Portfolio Cards Section -->
        <div class="row">
            <div class="card-group">
                <div class="col my-4" *ngFor="let card of portfolioCards">
                        <app-portfolio-card
                            [backgroundImg]="card.backgroundImg"
                            [title]="card.title"
                            [description]="card.description"
                            [filter]="card.filter">
                    </app-portfolio-card>
                </div>
            </div>
        </div>

        

        <!-- Contact Us Section -->
        <div class="row mb-4">
            <div class="col my-4">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title class="card-title h1-responsive"><strong>Get Started Now</strong></mdb-card-title>
                        <app-email-form [formStyle]="'md-form'"></app-email-form>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
    </div>
</div>