<footer class="page-footer elegant-color pt-4 font-small">
    <div class="container">
        <div class="row text-center text-sm mb-2">
            <div class="col">
                <a class="grey-text" (click)="scrollTop()">BACK TO TOP</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row text-center h4-responsive">
                    <div class="col-md">
                        <b>Menu</b>
                        <hr class="border border-secondary w-50" />
                    </div>
                </div>
                <div class="row no-gutters text-center h5-responsive mb-2">
                    <div class="col-sm">
                        <a class="footer-green-hover" routerLink="/home" routerLinkActive="light-green-text">Home</a>
                    </div>
                    <div class="col-sm">
                        <a class="footer-green-hover" routerLink="/services" routerLinkActive="light-green-text">Services</a>
                    </div>
                    <div class="col-sm">
                        <a class="footer-green-hover" routerLink="/portfolio" routerLinkActive="light-green-text">Portfolio</a>
                    </div>
                    <div class="col-sm">
                        <a class="footer-green-hover" routerLink="/about" routerLinkActive="light-green-text">About</a>
                    </div>
                    <div class="col-sm">
                        <a class="footer-green-hover" routerLink="/contact" routerLinkActive="light-green-text">Contact</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row text-center h4-responsive">
                    <div class="col-md">
                        <b>Connect With Us</b>
                        <hr class="border border-secondary w-50" />
                    </div>
                </div>
                <div class="row h5-responsive mb-2">
                    <div class="col-sm">
                        <div class="row">
                            <div class="col text-center">
                                emailaddress@email.com
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                904-717-9970
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <a class="fab fa-facebook-square fa-2x" href="https://www.facebook.com/TurfDoctorJax/"
                                    target="_blank"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer-copyright text-center">
        © 2019 Copyright TurfDoctorJax.com
    </div>

</footer>