.ng-valid[required], .ng-valid.required, .ng-valid.ng-dirty.ng-touched {
    border-bottom: 2px solid #42A948; /* green */
}
.ng-dirty.ng-touched.ng-invalid, .ng-invalid.ng-pristine.ng-touched{
    border-bottom: 2px solid #e41b18; /* red */
}

.form-error {
    color: #e41b18;
    font-weight: bold;
}